<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>treatDate</key>
		<string>201406291412</string>
		<key>treatName</key>
		<string>推荐1</string>
		<key>treatModel</key>
		<string>M1</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>T2</string>
		<key>treatStrength</key>
		<string>S2</string>
		<key>treatDrug</key>
		<string>阿司匹林</string>
		<key>treatDrugQuantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>treatDate</key>
		<string>201406281412</string>
		<key>treatName</key>
		<string>推荐1</string>
		<key>treatModel</key>
		<string>M1</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>T2</string>
		<key>treatStrength</key>
		<string>S2</string>
		<key>treatDrug</key>
		<string>阿司匹林</string>
		<key>treatDrugQuantity</key>
		<string>10</string>
	</dict>
	<dict>
		<key>treatDate</key>
		<string>201406271412</string>
		<key>treatName</key>
		<string>推荐1</string>
		<key>treatModel</key>
		<string>M1</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>T1</string>
		<key>treatStrength</key>
		<string>S0</string>
		<key>treatDrug</key>
		<string>阿司匹林</string>
		<key>treatDrugQuantity</key>
		<string>2</string>
	</dict>
	<dict>
		<key>treatDate</key>
		<string>201406271412</string>
		<key>treatName</key>
		<string>推荐1</string>
		<key>treatModel</key>
		<string>M1</string>
		<key>treatWave</key>
		<string>W4</string>
		<key>treatTime</key>
		<string>T2</string>
		<key>treatStrength</key>
		<string>S2</string>
		<key>treatDrug</key>
		<string>阿司匹林</string>
		<key>treatDrugQuantity</key>
		<string>10</string>
	</dict>
</array>
</plist>
